$text-primary: hsl(245, 25%, 18%);
$text-secondary: hsl(245, 20%, 76%);

$shadow-100: 0 3px 6px hsla(0, 0%, .15), 0 2px 4px hsla(0, 0%, .12);
$shadow-300: 0 15px 25px hsla(0, 0%, .15), 0 5px 10px hsla(0, 0%, .5);

