@use 'variables';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  background-color: rgb(235, 235, 137);
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
// .card {
//   width: 100%;
//   height: 100%;
// }

.card {
  background-color: white;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, .5);

  position: relative;
  display: flex;

  // &__picture {
  //   width: 90%;
  // }

  &__text {
    flex-grow: 1;
    flex-basis: 50%;
  }
  &__picture {
    flex-grow: 1;
    flex-basis: 50%;
    background: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: pink;
  }

  &__photoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .card__photoDiv {
      width: 80%;
      height: 80%;
      background-size: cover;
      position: relative;

      border-radius: 0.2rem;
    }
    .card__changeReviews {
      position: absolute;
      bottom: -10px;
      left: 30px;
    }
  }

}
.card__extraActions {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .card {
    width: 50%;
    // height: 50%; 
  }
}