@use 'variables';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;   // The html height initially expands with the content
}
body {
  height: 100%;   // So we can center the page
  display: flex;
  background-image: url("../images/glamorous.svg");
  background-color: #f3f1f1;
}
#root {
  width: 100%;
  display: flex;  // Turns out we have to tinker with root to center the page
  justify-content: center;
  align-items: center;
}
.card {
  background-color: white;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, .5);
  position: relative;    // The special actions will be positioned absolutely
  display: flex;
  width: 100%;
  height: 100vh;    // Fill the entire length of screen in smaller devices
  flex-direction: column;

  &__text {
    order: 2;     /// The text comes under the picture in small devices
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    
    font-family: Roboto, sans-serif;
    color: variables.$text-primary;
    
    background-image: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 70%;
    
    .text-container {
      padding-top: 1rem;
      text-align: center;
      // Big quote icon
      background-image: url(../images/pattern-quotes.svg);
      background-size: 4rem;
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    // The testimonial text
    .card__testimonial {
      font-weight: 300;
      font-size: 1.3rem;
      font-family: Roboto, sans-serif;
      &::before {
        content: open-quote ' ';
      }
      &::after {
        content: ' ' close-quote;
      }
      &--edit {
        background-color: transparent;
        border: 1px solid #c2bff3;;
        margin-bottom: 1rem;
        color: variables.$text-primary;
        max-width: 100%;
        &:focus {
          outline: none;
          border: 1px solid #9a94eb;
        }
      }
    }
    // Bio information
    .card__bio {
      font-weight: 500;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;   // Stack vertically on smaller devices
      .card__name {
        margin-bottom: 0.2em;
      }
      .card__role {
        margin-top: 0;
        color: variables.$text-secondary;
      }
      .edit {
        input {
          font-family: Roboto, sans-serif;
          font-weight: 500;
          font-size: 0.8rem;
          padding: 0.3rem 0.5rem;
          border: 1px solid #c2bff3;
          background-color: transparent;
          text-align: center;
          &:focus {
            outline: none;
            border: 1px solid #9a94eb;
          }
        }
      }
    }
  }
  &__picture {
    order: 1; // Picture is on top of text on small devices
    
    background: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    
    padding: 1rem;
    height: 60%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__photoContainer {
    width: 90%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    // The photo of the person covers up the div container
    .card__photoDiv {
      width: 80%;
      height: 80%;
      background-size: cover;
      border-radius: 0.2rem;
      position: relative;
      background-color: hsl(248, 67%, 94%);
      box-shadow: variables.$shadow-100;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      color: variables.$text-primary;
      
      .card__changePhoto {
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        background-color: hsla(248, 67%, 94%, 0.5);
        box-shadow: variables.$shadow-inset;
        .changePhotoContainer {
        }
      }
      &:hover .card__changePhoto {
        color: #4A3FDB;
      }
      &:active .card__changePhoto {
        color: #1f1881;
      }
      .icon-changePhoto {
        font-size: xx-large;
      }
      p {
        margin-top: 0.2em;
        font-size: smaller;
      }
    }
    .card__changeReviews {
      position: absolute;
      bottom: -10px;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);    // Centralize on smaller devices
    }
  }

  &__changeReviews {
    display: flex;
    // box-shadow: variables.$shadow-300;
    border-radius: 1rem;

    button {
      background-color: white;
      border: none;
      padding: 0.5rem 0.8rem;

      &:first-child {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
      &:last-child {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
      img {     // next and prev svg icons
        width: 0.5rem;
        height: auto;
      }

      &:hover {
        background-color: whitesmoke;
      }
      &:active {
        background-color: lightgray;
      }
    }
  }

  &__changePhoto {

  }
}
.card {
  &__noTestimonials {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-image: url("../images/undraw_personal_opinions_re_qw29.svg");
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: variables.$text-primary;
    .noTestimonialContainer {
      background-color: hsla(0, 0%, 100%, .3);
      padding: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
.card__extraActions {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  .action {
    color: hsl(240, 19%, 60%);
    font-size: 1.3rem;
    background-color: #F4F4FC;
    width: max-content;
    transition: width 1s;
    // padding: 0.5rem 0.6rem;
    padding: 0;
   
    
    span {
      display: inline-block;
      padding: 0.5rem 0.4rem;
    }
    &-edit {
      .mainAction {
        background-color: hsl(206, 100%, 97%);
        color: hsl(207, 64%, 39%);
      }
    }
    &-add {
      .mainAction {
        background-color: hsl(142, 81%, 94%);
        color: hsl(146, 62%, 38%);
      }
    }
    
    &-delete:active {
      background-color: hsl(0, 71%, 95%);
      color: hsl(0, 70%, 42%);
    }
    .cancelAction {
      transition: color 0.5s;
      &:hover {
        color: hsl(0, 70%, 42%);
      }
      &:active {
        background-color: hsl(0, 71%, 95%);
      }
    }
    .finishedAction {
      transition: color 0.5s;
      &:hover {
        color: hsl(146, 62%, 38%);;
      }
      &:active {
        background-color: hsl(142, 81%, 94%);
      }
    }
    .mainAction {
        
      &-edit {
        background-color: hsl(206, 100%, 97%);
        color: hsl(207, 64%, 39%);
      }
      &-add {
        background-color: hsl(142, 81%, 94%);
        color: hsl(146, 62%, 38%);
      }
      &-delete:active  {
        background-color: hsl(0, 71%, 95%);
        color: hsl(0, 70%, 42%);
      }
    }
    &:nth-child(2), &:nth-child(3) {
      span {
        padding-right: 9px;
      }
    }
    &:first-child {
      border-top-right-radius: 1rem;
    }
    &:last-child {
      border-bottom-right-radius: 1rem;
    }
    
  }
}

@media (min-width: 600px) {
  .card {
    width: 85%;
    height: revert;   // height is NOT 100% on bigger screens
    flex-direction: row;  // revert the flex-direction

    &__text {
      order: 1;
      // The text and photo should take up about 50% of the card each
      flex-grow: 1;
      flex-basis: 50%;
      
      padding-top: 3rem;
      padding-right: 0;
      .text-container {
        position: relative;
        left: 4rem;   // So the testimonial text overlaps the image
        z-index: 1;
        background-position: 20% 0;
        text-align: initial;
      }
      .card__bio {
        flex-direction: row;  // The card bio should stack horizontally
        .card__name {
          margin-bottom: initial;
        }
        .card__role {
          margin-left: 0.5rem;
          margin-top: revert;
        }
        .edit {
          width: 100%;
          display: flex;
          justify-content: space-between;
          input {
            text-align: revert;
          }
        }
      }
      // .card__testimonial {

      // }
    }

    &__picture {
      order: 2;   // Picture is the 2nd flex item on bigger screens
      flex-grow: 1;
      flex-basis: 50%;
      height: initial;
    }
    &__photoContainer {
      width: 100%;    //
      
      .card__changeReviews {
        left: 70px;
      }
    }
  }
  .card {
    &__noTestimonials {
      height: 55vh;
    }
  }
}

@media (min-width: 800px) {
  .card {
    width: 75%;
    // height: 50%; 
  }
}
@media (min-width: 1000px) {
  .card {
    width: 70%;
    // height: 50%; 
  }
}
@media (min-width: 1050px) {
  .card {
    width: 60%;
    // height: 50%; 
  }
}